@import 'bootstrap-grid.min.scss';
.ccmt-cff-Page-FormPage {
    // padding: 0px 10px;
    label.control-label, legend, h2.ccmt-cff-form-title {
        text-transform: capitalize;
    }
    legend {
        font-size: 120%;
        text-decoration: underline;
    }
    .form-group {
        padding: 0px 10px;
        //padding: 0;
    }
    .field {
        margin-top: 10px;
    }
    .field-object {
        transition: transform .5s ease-in-out;
        //border: 1px solid transparent;
        padding: 0;
    }
    .field-object:hover {
        transform: rotate3d(1,2,3);
        // transform: scale(1.0001);
        //border: 1px dotted grey;
    }
    i.glyphicon { display: none; }
    .btn-add::after { content: 'Add'; }
    .array-item-move-up::after { content: 'Move Up'; }
    .array-item-move-down::after { content: 'Move Down'; }
    .array-item-remove::after { content: 'Remove'; }
    .array-item-remove {

    }
    .array-item-add {

    }
    button[type=submit] {
        margin-top: 15px;
    }
}