@import 'bootstrap-4.min.scss';

.ccmt-cff-Wrapper-Bootstrap {
    .form-group.has-error {
        input, select {
            @extend .is-invalid;
        }
    }
}

.ccmt-cff-Page-FormPage {
    // padding: 0px 10px;
    .ccmt-cff-form-title span.required {
        display: none;
    }
    span.required {
        color: red;
        margin-left: 5px;
    }
    input, button {
        height: auto;
    }
    input {
        //max-width: 400px;
    }
    label.control-label, legend, h2.ccmt-cff-form-title {
        text-transform: capitalize;
    }
    .control-label {
        font-weight:bold; margin-top: 10px;
    }
    legend {
        font-size: 120%;
        text-decoration: underline;
    }
    .form-group {
        padding: 0px 10px;
        //padding: 0;
    }
    .error-detail::first-letter {
        text-transform: uppercase;
    }
    .ccmt-cff-form-title {
        @extend .mb-3;
    }
    .field {
        //margin-top: 10px;
    }
    .field-object {
        transition: transform .5s ease-in-out;
        //border: 1px solid transparent;
        padding: 0;
    }
    .field-object:hover {
        transform: rotate3d(1,2,3);
        // transform: scale(1.0001);
        //border: 1px dotted grey;
    }
    .ccmt-cff-btn-array-remove {margin-top: 10px;}
    .ccmt-cff-btn-array-add {
        max-width: 200px;
    }
    input[type=radio], input[type=checkbox] {
        margin-right: 10px;
        & + span::first-letter {
            text-transform: uppercase;
        }
    }
    /*i.glyphicon { display: none; }
    .btn-add::after { content: 'Add'; }
    .array-item-move-up::after { content: 'Move Up'; }
    .array-item-move-down::after { content: 'Move Down'; }
    .array-item-remove::after { content: 'Remove'; }
    .array-item-remove {

    }
    .array-item-add {

    }*/
    button[type=submit] {
        margin-top: 15px;
    }
    margin: 10px 0px;

    .field-array .array-item:first-child .array-item-remove {
        // display: none;
    }
    .ccmt_cff_required_asterisk {
        color: red;
        font-weight: bold;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .field-array-of-object > .array-item-list > .row {
        .form-group {
            margin-bottom: 0px;
        }
        .ccmt-cff-array-row-number {
            position: absolute;
            top: 50px;
            left: -10px;
        }
        &:not(:first-child) {
            .control-label {
                // @extend .d-md-none;
            }
            .ccmt-cff-array-row-number {
                top: 15px;
            }
        }
    }
}

.ccmt-cff-Page-FormPage-readonly.ccmt-cff-Page-FormPage {
    input, select {
        border: none;
        //padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
        cursor: text;
        background: rgba(0,0,0,.1);
    }
    button {
        display: none;
    }
    * {
        /*margin: 0;
        padding: 0;*/
    }
    position: relative;
    > .ccmt-cff-Page-FormPage > form:after {
        width: 100%;
        height: 100%;
        content: " ";
        background: rgba(50, 50, 50, 0.062);
        z-index: 99;
        display: block;
        position: absolute;
        top: 0;
    }
}
.ccmt-cff-Page-FormConfirmationPage {
    .ReactTable {
        .rt-td:first-child {
            text-transform: capitalize;
        }
    }
}