{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:jest/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "page": true,
    "browser": true,
    "context": true
  },
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "warn",
    "@typescript-eslint/interface-name-prefix": "warn",
    "no-case-declarations": "warn",
    "@typescript-eslint/no-use-before-define": "warn",
    "@typescript-eslint/camelcase": "warn",
    "@typescript-eslint/no-empty-interface": "warn",
    "@typescript-eslint/no-namespace": "warn",
    "no-inner-declarations": "warn",
    "@typescript-eslint/no-var-requires": "warn"
  }
}
