.App.FormAdminPage {
    .Modal-overlay-0-1-1 {
        z-index: 10000!important;
        /* for wordpress admin */
    }
    .ReactTable .rt-thead {
        text-transform: capitalize;
    }
}
.cff-copy-box {
    margin-top:10px;
    font-size:20px;
    border: 1px solid black;
    padding: 5px;
}