[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "==4.6.0"
blinker = "==1.4"
certifi = "==2018.1.18"
chalice = "==1.26.6"
chardet = "==3.0.4"
cssutils = "==1.0.2"
docutils = "==0.14"
flatdict = "==3.0.0"
"html2text" = "==2018.1.9"
idna = "==2.6"
jinja2 = "==2.10.1"
jmespath = "==0.9.3"
markupsafe = "==1.1.1"
py-expression-eval = "==0.3.9"
pydash = "==5.1.0"
pynliner = "==0.8.0"
python-dateutil = "==2.7.0"
pytz = "==2018.3"
requests = "==2.26.0"
shortuuid = "==0.5.0"
six = "==1.11.0"
typing = "==3.6.4"
urllib3 = "==1.25.10"
pymongo = {extras = ["tls"]}
pymodm = "==0.4.3"
python-jose = "*"
pycryptodomex = "*"
pip = "==10"
jsonpatch = "*"
moto = "*"
mongomock = {editable = true,git = "https://github.com/mongomock/mongomock.git"}
jsonpointer = "*"
responses = "*"
isodate = "*"
babel = "==2.9.1"
dnspython = "*"
black = "==18.9b0"
freezegun = "*"
pdfkit = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
