Babel==2.7.0
beautifulsoup4==4.6.0
boto3==1.9.201
certifi==2018.1.18
chardet==3.0.4
cssutils==1.0.2
dnspython==1.16.0
flatdict==3.0.0
html2text==2018.1.9
idna==2.6
isodate==0.6.0
Jinja2==2.10.1
jsonpatch==1.23
jsonpointer==2.0
MarkupSafe==1.1.1
pdfkit==0.6.1
py-expression-eval==0.3.9
pycryptodomex==3.6.4
pydash==4.5.0
pymodm==0.4.1
pymongo==3.10.1
python-dotenv==0.12.0
pynliner==0.8.0
python-jose==3.0.0
pytz==2018.3
requests==2.20.0
shortuuid==0.5.0
urllib3==1.24.2