@import "../../form/bootstrap-4.min.scss";
// todo: don't import bootstrap twice here.
.ReactTable {
    .rt-tbody {
        min-height: 60px;
    }
    .form-group {
        margin-bottom: 0px;
        .form-control {
            @extend .form-control-sm;
        }
    }
    .rt-thead .rt-th {
        select {
            font-weight: bold;
        }
    }
}

#ccmt-cff-downloadCSV {
    display: inline;
}

#ccmt-cff-nav {
    display: inline-block;
}