.ccmt-cff-response-stats-view {
    .card {
        padding: 20px;
        .badge {
            float: right;
            font-size: 1em;
        }
        h5 {
            display: inline-block;
        }
    }
}